{% extends 'base.html' %}

{% block content %}
<div class="container-fluid content">
    <div id="slider_container" class="owl-carousel owl-theme">
        <div style="background: url(/static/images/background1.png) no-repeat top right">
            <div class="container">
                <div class="row">
                    <div class="col-12 tb-centr">
                        <div>
                            <h3 class="index">
                                Choose your library.
                            </h3>
                            <p class="p_big">
                                Many specific libraries right here:
                            </p>
                            <h1>
                                Antibacterial CNS Anticancer<br/>
                                Chiral molecules
                            </h1>
                            <button class="blue_butt butt_bott_index">Choose Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background: url(/static/images/background3.jpg) no-repeat top right">
            <div class="container">
                <div class="row">
                    <div class="col-12 tb-centr">
                        <div>
                            <h3 class="index">
                                Create your library.
                            </h3>
                            <p class="p_big">
                                Many molecules are available to generate:
                            </p>
                            <h1>
                                700 Acids 200 Aldehydes<br/>
                                200 Alkyl Derivatives
                            </h1>
                            <button class="blue_butt butt_bott_index">Create now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background: url(/static/images/background2.jpg) no-repeat top right">
            <div class="container">
                <div class="row">
                    <div class="col-12 tb-centr">
                        <div>
                            <h3 class="index">
                                Hot News
                            </h3>
                            <p class="p_big">
                                Our molecule of the month:
                            </p>
                            <h1>
                                4-(1H-PYRAZOL-5-YL) PIPERIDINE<br/>
                                DIHYDROCHLORIDE
                            </h1>
                            <button class="blue_butt butt_bott_index">read more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background: url(/static/images/background1.png) no-repeat top right">
            <div class="container">
                <div class="row">
                    <div class="col-12 tb-centr">
                        <div>
                            <h3 class="index">
                                Building Blocks
                            </h3>
                            <p class="p_big">
                                Many building blocks here:
                            </p>
                            <h1>
                                Novel Structures High Purity and<br />
                                Enantiomeric Control
                            </h1>
                            <button class="blue_butt butt_bott_index">choose now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer_search">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search text_no">
                    <form>
                        <p class="p_search_bot">
                            Search by
                        </p>
                        <input type="search" class="search_top_inp" value=""
                               placeholder=" CAS, Catalogue number, Name, Structure"/>
                        <input type="submit" value=""/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pd-bottom-50 index-content">
    <div class="container">
        <div class="row">
            <p class="p_small">
                PharmBricks Inc. is an American startup company that produces heterocycles molecules for medicinal and
                biochemical Researches. In our Delaware based R&D Department we design and produce high quality building
                blocks, screening compounds and libraries for your drug discoveries both in the pharmaceutical industry
                and Universities.<br/>
                <br/>
                We currently offer several thousands screening compounds that are available <a href="">to offer</a>. You can <a href="">select</a>
                one of our readily prepared libraries or can <a href="">choose</a> from a broad range of screening compounds and
                <a href="">create</a> a set for your special research needs.
            </p>
        </div>
    </div>
</div>
{% endblock %}