{% extends 'pages/static_page.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block base_content %}
<div id="top_news" data-current_slug="{{ news_slug }}" class="col-12 butt_bott news_block">
    <h2 class="title">{{ page.title }}</h2>

    <div class="active_news more mg-top-20">
        {% if not user.is_authenticated or not user.subscribed_on_news %}
        <p>Want all the latest PharmBricks news&events?
            <a class="a_green" href="{% url 'user_subscribe' %}">Join</a>
            our newsletter!</p>
        {% endif %}

        <div id="active_news"></div>
    </div>

    <div class="all-news-block">
    {% for post in news %}
        <h3 id="news_{{ post.slug }}" class="active1 bg_gray">{{ post.title }} {{ post.first_published_at|date:'o, F' }}.</h3>
        <div class="content_news">
            {% image post.image original as post_image %}
            <img src="{{ post_image.url }}" alt="{{ post_image.alt }}" class="img_width img-fluid"/>

            <p class="small">
                By <span class="a_green text_bold">PharmBricks</span> {{ post.first_published_at|date:'F, o' }}
            </p>

            {{ post.body|richtext }}
        </div>
    {% empty %}
        <div class="col-12 text-center">There is no news yet</div>
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
$(function(){
    var main_container = $('#top_news');
    var cur_news = main_container.attr('data-current_slug');
    if (cur_news) {
        $('#news_' + cur_news).click()
    }
    else {
        $('.all-news-block').find('h3:first').click();
    }
})
</script>
{% endblock %}