{% extends "wagtailusers/users/create.html" %}

{% block extra_fields %}
    {% include "wagtailadmin/shared/field_as_li.html" with field=form.organization %}
    {% include "wagtailadmin/shared/field_as_li.html" with field=form.phone %}

    {% include "wagtailadmin/shared/field_as_li.html" with field=form.country %}
    {% include "wagtailadmin/shared/field_as_li.html" with field=form.region %}
    {% include "wagtailadmin/shared/field_as_li.html" with field=form.city %}
    {% include "wagtailadmin/shared/field_as_li.html" with field=form.delivery_address %}
    {% include "wagtailadmin/shared/field_as_li.html" with field=form.postcode %}
{% endblock extra_fields %}