{% extends "inner.html" %}

{% block body_class %}template-404{% endblock %}

{% block content %}
<div class="container-fluid {% block container_external_class %}{% endblock %}">
    <div class="container">
        <div class="row mg-bot">
            {% block base_content %}
                <div class="col-12">
                    <h1>Internal server error</h1>

                    <h2>Sorry, there seems to be an error. Please try again soon.</h2>
                </div>
            {% endblock %}
        </div>
        {% block extra_hr %}{% endblock %}
    </div>

    {% block extra_content %}{% endblock %}
</div>
{% endblock %}
