appnope==0.1.0
beautifulsoup4==4.6.0
bleach==2.1.2
certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
decorator==4.1.2
Django==1.11.10
django-autoslug==1.9.3
django-debug-toolbar==1.9.1
django-extensions==2.0.3
django-ipware==2.0.1
django-model-utils==3.1.1
django-modelcluster==3.1
django-taggit==0.22.2
django-treebeard==4.2.0
djangorestframework==3.6.4
easy-thumbnails==2.5
elasticsearch==5.5.2
entrypoints==0.2.3
gunicorn==19.7.1
html5lib==0.999999999
idna==2.6
ipykernel==4.7.0
ipywidgets==7.1.0
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.1
jupyter-console==5.2.0
jupyter-core==4.4.0
longclaw
MarkupSafe==1.0
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.2.2
numpy==1.14.0
olefile==0.44
pandocfilters==1.4.2
parso==0.1.1
pexpect==4.3.1
pickleshare==0.7.4
Pillow==5.0.0
progressbar2==3.34.3
prompt-toolkit==1.0.15
psycopg2==2.7.3.2
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-utils==2.2.0
pytz==2017.3
pyzmq==16.0.3
qtconsole==4.3.1
requests==2.18.4
simplegeneric==0.8.1
six==1.11.0
sqlparse==0.2.4
swapper==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==4.5.3
tqdm==4.19.5
traitlets==4.3.2
Unidecode==1.0.22
urllib3==1.22
uWSGI==2.0.17
wagtail==1.13.1
wagtailmenus==2.5.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.1.0
Willow==1.0
