Django==1.11.15
django-cities-light==3.5.0
django-countries==5.3.1
django-debug-toolbar==1.9.1
easy-thumbnails==2.5
Pillow==9.0.0
psycopg2==2.7.3.2
uWSGI==2.0.17
wagtail==1.13.1
wagtailmenus==2.5.2
xhtml2pdf~=0.2.3
longclaw~=1.0.2