{% extends 'inner_shadowed.html' %}

{% block title %}Log in | {% endblock %}

{% block base_content %}
{% if next %}
<div class="text-center">Please login or <a href="{% url 'register' %}" class="a_green a_green_bold a_hov">sign up</a>
    to get page success.</div>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <div class="container fix">
        <div class="row mg-bot">
            <div class="col-12 text-center form_cabinet form_cabinet_login">
                {{ form.non_field_errors }}

                {% include 'utilites/pb_input.html' with input=form.username %}
                {% include 'utilites/pb_input.html' with input=form.password %}

                <div>
                    <button class="blue_butt blue_butt_log_in">Log in</button>
                    <p>
                        Forgotten your password? Click <a href="{% url 'password_reset' %}"
                                                          class="a_green"><b>here</b></a>
                        to reset your password.
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}