{% extends 'inner_shadowed.html' %}

{% block title %}Log in | {% endblock %}

{% block base_content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="container fix">
        <div class="row mg-bot">
            <div class="col-12 text-center form_cabinet form_cabinet_login">
{#                {% for error in form.errors %}#}
{#                    {{ error }}<br>#}
{#                {% endfor %}#}
                {{ form.non_field_errors }}

                <div>{{ form.username }}<br/>
                    {{ form.username.errors }}
                </div>
                <div>{{ form.password }}<br/>
                    {{ form.password.errors }}
                </div>
                <div>
                    <button class="blue_butt blue_butt_log_in">Log in</button>
                    <p>
                        Forgot your password? <a href="{% url 'password_reset' %}"
                                                 class="a_green"><b>Reset it</b></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}