{% extends 'email/base.html' %}

{% block title %}Password request{% endblock %}

{% block email_content %}
<br/>
<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
<tbody>
<tr style="padding:0;text-align:left;vertical-align:top">
    <th class="small-12 large-1 columns first"
        style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:16px;padding-right:8px;text-align:left;width:5%">
        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
            <tr style="padding:0;text-align:left;vertical-align:top">
                <th style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left"></th>
            </tr>
        </table>
    </th>
    <th class="small-12 large-10 columns"
        style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:8px;padding-right:8px;text-align:left;width:484px">
        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
            <tr style="padding:0;text-align:left;vertical-align:top">
                <th style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                    <h2 style="color:inherit;font-family:Arial,sans-serif;font-size:21px;font-weight:400;line-height:1.3;margin:0;margin-bottom:16px;padding:0;text-align:left;word-wrap:normal">
                        Dear {{ user.first_name }},</h2>
                    <p class="shed-gr"
                       style="color:#464646;font-family:Arial;font-size:13px;font-weight:400;line-height:1.3;margin:0;margin-bottom:0;padding:0;text-align:left">
                        We`ve heard yor have a little trouble remembering your
                        password.</p><br>
                    <p class="shed-000"
                       style="color:#464646;font-family:Arial;font-size:13px;font-weight:400;line-height:1.3;margin:0;margin-bottom:0;padding:0;text-align:left">
                        No problem! <a href="{{ protocol }}://{{ site_host }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="p_green"
                                       style="border-bottom:1px solid #fff;color:#009846;font-family:Arial;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none"><b>Follow
                        this link</b></a> and you can get up a new one.</p><br>
                    <p class="shed-gr"
                       style="color:#464646;font-family:Arial;font-size:13px;font-weight:400;line-height:1.3;margin:0;margin-bottom:0;padding:0;text-align:left">
                        If you didn`t submit a request, ignore this email.</p>
                </th>
            </tr>
        </table>
    </th>
    <th class="small-12 large-1 columns last"
        style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:8px;padding-right:16px;text-align:left;width:5%">
        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
            <tr style="padding:0;text-align:left;vertical-align:top">
                <th style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left"></th>
            </tr>
        </table>
    </th>
</tr>
</tbody>
</table>
<br><br>
{% endblock %}