{% extends 'inner_shadowed.html' %}

{% block base_content %}
{% if messages %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center butt_bott">
        {% for message in messages %}
            <p>{{ message|safe }}</p>
        {% endfor %}
        </div>
    </div>
</div>
{% else %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="col-12 text-center form_cabinet form_cabinet_login">
            <div class="col-12 text-center">
                Please enter your new password twice so we can verify you typed it in correctly.
            </div>
            <div>{{ form.new_password1 }}<br/>{{ form.new_password1.errors }}</div>
            <div>{{ form.new_password2 }}<br/>{{ form.new_password2.errors }}</div>
            <div class="col-12 text-center">
                <button class="blue_butt blue_butt_log_in">Submit</button>
            </div>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}