{% extends 'inner_shadowed.html' %}
{% load staticfiles %}
{% load wagtailcore_tags %}

{% block title %}Registration | {% endblock %}

{% block base_content %}
{% if messages %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center butt_bott">
        {% for message in messages %}
            <p>{{ message|safe }}</p>
        {% endfor %}
        </div>
    </div>
</div>
{% else %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="row mg-bot">
            <div class="col-12 text-center form_cabinet form_cabinet_signup">
                {% include 'utilites/pb_input.html' with input=form.first_name %}
                {% include 'utilites/pb_input.html' with input=form.last_name %}
                {% include 'utilites/pb_input.html' with input=form.phone %}
                {% include 'utilites/pb_input.html' with input=form.organization %}
                {% include 'utilites/pb_input.html' with input=form.country %}
                {% include 'utilites/pb_input.html' with input=form.delivery_address %}
                {% include 'utilites/pb_input.html' with input=form.city %}
                {% include 'utilites/pb_input.html' with input=form.postcode %}
                {% include 'utilites/pb_input.html' with input=form.email %}
                {% include 'utilites/pb_input.html' with input=form.password %}
                {% include 'utilites/pb_input.html' with input=form.password1 %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row signup_checkboxes">
            <div class="col-4">

            </div>
            <div class="col-6 check_singup">
                <div>
                    {{ form.subscribed_on_news }}
                    <label for="{{ form.subscribed_on_news.id_for_label }}" class="subsribe_sugn">Subscribe me News</label>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center butt_bott">
                <div>
                    <button class="blue_butt blue_butt_sing_up">sign up</button>
                    <p class="singup">
                        By continuing, you agree to our
                    </p>
                    <a href="{% slugurl 'terms' %}" class="a_green text_bold" target="_blank">
                        Terms and Conditions
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}

{%  block  extra_js %}
<script src="{% static 'js/utils.js' %}"></script>
{% endblock %}

