{% extends 'inner_shadowed.html' %}
{% load staticfiles %}
{% load wagtailcore_tags %}
{% load thumbnail %}

{% block base_content %}
{% if messages %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center butt_bott">
            {% for message in messages %}
                <p>{{ message|safe }}</p>
            {% endfor %}
            </div>
        </div>
    </div>
{% else %}
    <div class="container">
        <div class="row mg-bot">
            <div class="col-6">
                <h2 class="title">
                    Basket
                </h2>
            </div>
            {% if basket %}
            <div class="col-1 padding-left-0">
                <p class="p_gray p_catalig_bask_chek">
                    Size
                </p>
            </div>
            <div class="col-1">
                <p class="p_gray p_catalig_bask_chek">
                    Quantity
                </p>
            </div>
            <div class="col-4">
            </div>
            {% endif %}
        </div>
    </div>
    {% if basket %}
    {% for item in basket %}
    {% with product=item.variant.product.specific %}
    <div class="container basket_items basket_product">
        <div class="row mg-bot">
            <div class="col-6 content_catalog_bch">
                <a href="{{ product.image.url }}" data-lightbox="image-{{ forloop.counter }}">
                    <img src="{{ product.image|thumbnail_url:'small' }}" alt="" class="img_litl"/>
                </a>
                <div>
                    <p class="no-mg p_catalog_bch">
                        {{ product.catalogue_number }}
                        <span class="p_gray_sp">(Catalogue number)</span>
                    </p>
                    <a href="{% pageurl product %}" target="_blank" class="no-mg a_green p_catalog_bch">
                        {{ product.title }}
                    </a>
                </div>
            </div>
            <div class="col-1 no_pd input_catalog_size">
                <select data-prev="{{ item.variant.id }}" class="show_check_bask text-left product_type">
                    {% for price in product.prices.all %}
                    {% if price.active %}
                    <option value="{{ price.id }}" data-price="{{ price.price }}"
                        {% if price.price == item.variant.price %}selected{% endif %}
                    >{{ price.ref }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-1 input input_catalog_bch">
                <input class="item_quantity" type="number" min="1"
                       data-prev="{{ item.quantity }}" value="{{ item.quantity }}"/>
            </div>
            <div class="col-1 del_catalog_bch">
                <span title="Delete item" class="x">
                    <img src="{% static 'images/if_remove.png' %}" alt="" class="if_remove"/>
                    <img src="{% static 'images/if_rem_green.png' %}" alt="" class="if_remove_green"/>
                </span>
            </div>
            <div class="col-3 out_catalog_bch">
                <output class="a_green_total ">
                    &dollar; <span class="product_price">{{ item.total|add:'0' }}</span>
                </output>
            </div>
        </div>
    </div>
    {% endwith %}
    {% endfor %}

    <div class="container">
        <div class="row">
            <div class="col-12 text-left no_pd no-pd-left total_catalog_bch">
                <div class="wid300">
                    <p class="p_gray_sp float_left">
                        Total
                    </p>
                    <output class="total" id="total_basket_price">
                        <span id="total_price">{{ total_price|add:'0' }}</span>&dollar;
                    </output>
                </div>
            </div>
        </div>
    </div>

    <div class="container basket_step_1">
        <div class="row">
            <div class="col-12 text-left no_pd no-pd-left total_catalog_bch">
                <div class="wid300">
                    <button class="blue_butt no-mg-top" id="basket_checkout">Checkout</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container basket_step_2">
        <div class="row">
            <div class="col-12 no-pd-left no_pd">
                <div class="wid300 bord_top">
                    <form method="POST" action=".">
                        {% csrf_token %}
                        <div class="p_small tabl_mg">
                            <input type="checkbox" name="{{ form.use_user_address.name }}"
                                   id="delivery_bch"
                                   class="inp_cat_bch posit checkbox
                                        {% if not user.is_authenticated %}
                                            checkbox_disabled
                                        {% endif %}">
                            <label for="{{ form.use_user_address.id_for_label }}" class="no-fix">Use
                                my account details for delivery <br/>
                                {% if not user.is_authenticated %}
                                Please,
                                    <a href="{% url 'login' %}?next={% url 'basket' %}"
                                       class="a_green a_green_bold a_hov">Log In</a>
                                or <a href="{% url 'register' %}" class="a_green a_green_bold a_hov">Sing Up</a>
                                {% endif %}
                            </label>
                            <br/>
                        </div>
                        {{ form.use_user_address.errors }}
                        <div class="p_small">
                            <p class="a_green_total">
                                Delivery type
                            </p>
                        </div>
                        <div class="p_small tabl_mg">
                            {{ form.delivery_type }}
                            <label for="{{ form.delivery_type.id_for_label }}" class="lab_top">UPS</label>
                            <br/>
                        </div>
                        {{ form.delivery_type.errors }}
                        <div class="p_small ">
                            <p class="a_green_total">
                                Payment type
                            </p>
                        </div>
                        <div class="p_small tabl_mg">
                            {{ form.payment_type }}
                            <label for="{{ form.payment_type.id_for_label }}" class="lab_top">Invoice</label>
                            <br/>
                        </div>
                        {{ form.payment_type.errors }}
                        <div class="header_catalo_bch ">
                            {{ form.comments }}
                            <br/>
                        </div>
                        {{ form.comments.errors }}
                        <div class="tabl_mg tabl_no_mg">
                            {{ form.agree_terms }}
                            <label for="teams_bch" class="tab top_check">I have read and agree to the
                                <a href="{% slugurl 'terms' %}" target="_blank"
                                   class="a_green a_green_bold">
                                    Terms & Conditions</a>
                            </label>
                            <br/>
                        </div>
                        {{ form.agree_terms.errors }}

                        <button {% if not form.agree_terms.value %}disabled{% endif %} id="order_button" class="blue_butt catalog_basket_chekout">Order</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <div class="container basket_items">
        <div class="row mg-bot">
            <div class="col-6 content_catalog_bch">
                There is no items yet
            </div>
        </div>
    </div>
    {% endif %}
{% endif %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/shop.js' %}"></script>
<script type="text/javascript">
    $(function(){
        var csrf_token = $("[name=csrfmiddlewaretoken]").val();

        // change molecule weight
        $(document).on('change', '.product_type', function() {
            var new_value = $(this).val();
            var prev_value = $(this).attr('data-prev');
            var product_container = $(this).closest('.basket_items');
            var quantity = product_container.find('.item_quantity').val();

            $.ajax({
                url: '/api/basket/' + prev_value + '/',
                type: 'DELETE',
                data: {
                    quantity: quantity
                },
                headers: {
                    'X-CSRFToken': csrf_token
                }
            });

            $.ajax({
                url: '/api/basket/',
                type: 'POST',
                data: {
                    variant_id: new_value,
                    quantity: quantity
                },
                success: function() {
                    $(this).attr('data-prev', new_value);
                    var new_price = product_container.find('.product_type').find('option:selected')
                        .attr('data-price');
                    product_container.find('.product_price').text(new_price * quantity);
                    calc_basket_total();
                },
                error: function() {
                    $(this).val(prev_value);
                    alert('Error was occured while trying to change weight. Please try later.')
                },
                headers: {
                    'X-CSRFToken': csrf_token
                }
            });
        });

        var wto;
        // change molecule quantity
        $(document).on('input', '.item_quantity', function(e) {
            clearTimeout(wto);
            var quantity_input = $(this);
            var product_container = $(this).closest('.basket_items');
            var new_quantity = quantity_input.val();
            var variant_id = product_container.find('.product_type').val();

            if (!new_quantity >= 1) {
                new_quantity = 1;
                quantity_input.val(new_quantity);
            }

            wto = setTimeout(function() {
                var prev_quantity = quantity_input.attr('data-prev');

                $.ajax({
                    url: '/api/basket/',
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': csrf_token,
                        variant_id: variant_id,
                        quantity: (new_quantity-prev_quantity)
                    },
                    success: function() {
                        quantity_input.attr('data-prev', new_quantity);
                        var price = product_container.find('.product_type').find('option:selected')
                            .attr('data-price');

                        product_container.find('.product_price').text(price * new_quantity);
                        calc_basket_total();
                    },
                    error: function() {
                        $(this).val(prev_value);
                        alert('Error was occured while trying to change quantity. Please try later.')
                    },
                    headers: {
                        'X-CSRFToken': csrf_token
                    }
                });
            }, 700);
        });

        // delete product
        $(document).on('click', '.del_catalog_bch .x', function(e) {
            var product_container = $(this).closest('.container');
            var quantity = product_container.find('.item_quantity').val();
            var variant_id = product_container.find('.product_type').val();

            $.ajax({
                url: '/api/basket/' + variant_id + '/',
                type: 'DELETE',
                data: {
                    quantity: quantity
                },
                headers: {
                    'X-CSRFToken': csrf_token
                },
                success: function() {
                    $(product_container).remove();
                    calc_basket_total();
                }
            });
        });

        $(document).on('change', '#teams_bch', function(){
            if ($(this).prop('checked')) {
                $('#order_button').prop('disabled', false);
            }
            else {
                $('#order_button').prop('disabled', true);
            }
        });
    });
</script>
{% endblock %}