{% extends 'inner_shadowed.html' %}
{% load staticfiles %}
{% load menu_tags %}

{% block title %}Account information | {% endblock %}

{% block base_content %}
<div class="container">
    {% include 'users/_user_profile_header.html' %}

{% if messages %}
    <div class="row">
        <div class="col-12 text-center">
        {% for message in messages %}
            <p>{{ message|safe }}</p>
        {% endfor %}
        </div>
    </div>
{% endif %}
</div>

<form action="" method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="row mg-bot">
            <div class="col-12 text-center form_cabinet">
                <div>{{ form.first_name }}</div>
                <div>{{ form.first_name.errors }}</div>

                <div>{{ form.last_name }}</div>
                <div>{{ form.last_name.errors }}</div>

                <div>{{ form.phone }}</div>
                <div>{{ form.phone.errors }}</div>

                <div>{{ form.organization }}</div>
                <div>{{ form.organization.error }}</div>

                <div>{{ form.country }}</div>
                <div>{{ form.country.errors }}</div>

                <div>{{ form.delivery_address }}</div>
                <div>{{ form.delivery_address.errors }}</div>

                <div>{{ form.city }}</div>
                <div>{{ form.city.errors }}</div>

                <div>{{ form.postcode }}</div>
                <div>{{ form.postcode.errors }}</div>

                <div>{{ form.email }}</div>
                <div>{{ form.email.errors }}</div>

                <div>{{ form.password }}</div>
                <div>{{ form.password.errors }}</div>

                <div>{{ form.password1 }}</div>
                <div>{{ form.password1.errors }}</div>

                <div>
                    <button class="blue_butt cabinet_button">save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{%  block  extra_js %}
<script src="{% static 'js/utils.js' %}"></script>
{% endblock %}