{% load menu_tags %}
{% load staticfiles %}

<div class="col-3 left_menu_top">
    <nav class="dws-menu">
        <ul class="topmenu_left">
        {% for item in menu_items %}
            <li class="{% if item.active_class %}active{% endif %}">
            {% if item.has_children_in_menu %}
                <a>{{ item.text }}
                    <img src="{% static 'images/plys.png' %}" alt=""
                         class="img-right {% if item.active_class %}active{% endif %}"/>
                    <img src="{% static 'images/min.png' %}" alt=""
                         class="img-right_min {% if item.active_class %}active{% endif %}"/>
                </a>

                {% sub_menu item %}
            {% else %}
                <a href="{{ item.href }}">{{ item.text }}</a>
            {% endif %}
            </li>
        {% endfor %}
        </ul>
    </nav>
</div>