{% extends 'email/base.html' %}
{% load wagtailcore_tags %}

{% block title %}Order № {{ order.number }}{% endblock %}

{% block email_content %}
<table align="center" class="container float-center" style="background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:700px">
    <tbody>
    <tr style="padding:0;text-align:left;vertical-align:top">
        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
            <br/>
            <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <th class="small-12 large-1 columns first" style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:16px;padding-right:8px;text-align:left;width:5%">
                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left"></th>
                            </tr>
                        </table>
                    </th>
                    <th class="small-12 large-10 columns" style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:8px;padding-right:8px;text-align:left;width:484px">
                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                    <h2 style="color:inherit;font-family:Arial,sans-serif;font-size:21px;font-weight:400;line-height:1.3;margin:0;margin-bottom:16px;padding:0;text-align:left;word-wrap:normal">
                                        Dear {{ user.first_name }},
                                    </h2>
                                    <p class="shed-gr" style="margin:0;margin-bottom:20px;color:#464646;font-family:Arial;font-size:13px;font-weight:400;line-height:1.3;padding:0;text-align:left">
                                        Your order for {{ order.number }} has been received.
                                        Please ensure your contact information is up to date
                                        and your delivery details are correct.
                                    </p>
                                    <p class="shed-gr" style="margin:0;margin-bottom:20px;color:#464646;font-family:Arial;font-size:13px;font-weight:400;line-height:1.3;padding:0;text-align:left">
                                        If you have any questions about your order or the delivery,
                                        please call us on
                                        <a href="{{ settings.core.PharmBricksSettings.phone }}">
                                            {{ settings.core.PharmBricksSettings.phone }}</a>.
                                    </p>
                                    <p class="shed-gr" style="color:#464646;font-family:Arial;font-size:13px;font-weight:400;line-height:1.3;margin:0;margin-bottom:0;padding:0;text-align:left">
                                        <span class="p_gray" style="color:#a6a6a6;font-family:Arial;text-shadow:none">Delivery Address:</span>
                                        {{ order.delivery_address }}
                                    </p>
                                    <br>
                                    <p class="shed-gr" style="color:#464646;font-family:Arial;font-size:13px;font-weight:400;line-height:1.3;margin:0;margin-bottom:0;padding:0;text-align:left">
                                        <span class="p_gray" style="color:#a6a6a6;font-family:Arial;text-shadow:none">Phone: </span>
                                        {{ order.phone }}
                                    </p>
                                    <br>
                                    <p class="shed-gr" style="color:#464646;font-family:Arial;font-size:13px;font-weight:400;line-height:1.3;margin:0;margin-bottom:0;padding:0;text-align:left">
                                        <span class="p_gray" style="color:#a6a6a6;font-family:Arial;text-shadow:none">Organization:</span>
                                        {{ user.organization }}
                                    </p>
                                    <br>
                                    <p class="shed-gr" style="color:#464646;font-family:Arial;font-size:13px;font-weight:400;line-height:1.3;margin:0;margin-bottom:0;padding:0;text-align:left">
                                        <span class="p_gray" style="color:#a6a6a6;font-family:Arial;text-shadow:none">Contact person:</span>
                                        {{ user.first_name }} {{ user.last_name }}
                                    </p>
                                    <br>
                                </th>
                            </tr>
                        </table>
                    </th>
                    <th class="small-12 large-1 columns last" style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:8px;padding-right:16px;text-align:left;width:5%">
                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left"></th>
                            </tr>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
{% for item in order.items.all %}
{% with product=item.product.product.specific %}
<table align="center" class="container float-center"
       style="background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:700px">
    <tbody>
    <tr style="padding:0;text-align:left;vertical-align:top">
        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
            <table class="row"
                   style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <th class="small-12 large-1 columns first"
                        style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:16px;padding-right:8px;text-align:left;width:5%">
                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left"></th>
                            </tr>
                        </table>
                    </th>
                    <th class="small-12 large-7 columns" style="
                        {% if forloop.first %}
                            border-top: 1px solid #acacac;
                        {% elif forloop.last %}
                            border-bottom: 1px solid #acacac;
                        {% endif %}
                        color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:8px;padding-right:8px;text-align:left;width:334px">
                        <p class="mg_top shed-gr wdth-67" style="color:#464646;font-family:Arial;font-size:13px;font-weight:400;line-height:1.3;margin:0;margin-bottom:0;margin-top:0;padding:25px 0 15px 0;text-align:left">
                            {{ product.catalogue_number }}
                            <span style="color:#8a8989">( Catalogue number )</span><br>
                            <a href="{{ site_host }}{% pageurl product %}" class="p_green" style="border-bottom:1px solid #fff;color:#009846;font-family:Arial;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none">
                                {{ product.title }}
                            </a>
                        </p>
                    </th>
                    <th class="none1 small-12 large-3 columns" style="
                        {% if forloop.first %}
                            border-top: 1px solid #acacac;
                        {% elif forloop.last %}
                            border-bottom: 1px solid #acacac;
                        {% endif %}
                        color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:8px;padding-right:8px;text-align:left;width:134px">
                        <p class="mg-top-30 shed-gr float text-right" style="color:#464646;float:left;font-family:Arial;font-size:13px;font-weight:400;line-height:1.3;margin:0;margin-bottom:0;margin-top:0;padding:25px 0 15px 0;text-align:right;width:33%">
                            {{ item.product.ref }}</p>
                        <p class="mg-top-30 shed-gr float text-center"
                           style="color:#464646;float:left;font-family:Arial;font-size:13px;font-weight:400;line-height:1.3;margin:0;margin-bottom:0;margin-left:auto;margin-right:auto;margin-top:0;padding:25px 0 15px 0;text-align:center;width:33%">
                            {{ item.quantity }}</p>
                        <p class="mg-top-30 shed-gr" style="color:#464646;font-family:Arial;font-size:13px;font-weight:400;line-height:1.3;margin:0;margin-bottom:0;margin-top:0;padding:25px 0 15px 0;text-align:left">
                            ${{ item.total|add:0 }}
                        </p>
                    </th>
                    <th class="small-12 large-1 columns last"
                        style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:8px;padding-right:16px;text-align:left;width:5%">
                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left"></th>
                            </tr>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
{% endwith %}
{% endfor %}

<table align="center" class="container float-center"
       style="background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:700px">
    <tbody>
    <tr style="padding:0;text-align:left;vertical-align:top">
        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
            <br/>
            <table class="row"
                   style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <th class="small-12 large-1 columns first"
                        style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:16px;padding-right:8px;text-align:left;width:5%">
                    </th>
                    <th class="small-12 large-10 columns"
                        style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:8px;padding-right:8px;text-align:left;width:484px">
                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                    <p class="p_small shed-gr"
                                       style="color:#464646;font-family:Arial;font-size:11px;font-weight:400;line-height:1.3;margin:0;margin-bottom:0;padding:0;text-align:left">
                                        *taxes 7% are included</p></th>
                            </tr>
                        </table>
                    </th>
                    <th class="small-12 large-1 columns last"style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:8px;padding-right:16px;text-align:left;width:5%"></th>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<table align="center" class="container float-center" style="background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:700px">
<tbody>
    <tr style="padding:0;text-align:left;vertical-align:top">
        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;border-collapse:collapse!important;color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
            <br>
            <table class="row"
                   style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <th class="small-12 large-1 columns first"
                        style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:16px;padding-right:8px;text-align:left;width:5%">
                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left"></th>
                            </tr>
                        </table>
                    </th>
                    <th class="small-12 large-10 columns"
                        style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:8px;padding-right:8px;text-align:left;width:484px">
                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
                                    <h1 class="p_gray"
                                        style="color:#a6a6a6;font-family:Arial;font-size:24px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left;text-shadow:none;word-wrap:normal">
                                        Total <span class="p_green"
                                                    style="color:#009846;font-family:Arial">${{ order.total }}</span>
                                    </h1></th>
                            </tr>
                        </table>
                    </th>
                    <th class="small-12 large-1 columns last"
                        style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:8px;padding-right:16px;text-align:left;width:5%">
                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="color:#0a0a0a;font-family:Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left"></th>
                            </tr>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
            <br>
        </td>
    </tr>
</tbody>
</table>
{% endblock %}
