{% extends 'inner.html' %}
{% load menu_tags %}
{% load staticfiles %}

{% block content %}
{% include 'mols/_catalogue_header.html' %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            {% children_menu catalogue_page template='menus/left/menu.html' sub_menu_template='menus/left/level_2.html' max_levels=2 apply_active_classes=True %}

            <div class="col-9 text-center pd-no">
                <div class="redactor" id="editor_container">
                </div>
                <div class="container catalog-main">
                    <div id="mols_list_container" class="row"
                         data-mols_list_url="{% url 'mols_list' %}"
                         {% if section %}data-section="{{ section.slug }}"{% endif %}
                         {% if sub_section %}data-sub_section="{{ sub_section.slug }}"{% endif %}
                    ></div>
                </div>
                <div id="no_data_result" class="no_data_result">List is empty</div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid butt_bott">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9 text-center">
                <button id="show_more_button" data-page_num=1 class="blue_butt show_more"
                        style="display: none;">show more</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/mols_list.js' %}"></script>
<script type="text/javascript">
$(function(){
    load_molecules();
})
</script>
{% endblock %}