{% extends 'pages/static_page.html' %}
{% load wagtailcore_tags %}
{% load thumbnail %}

{% block extra_content %}
<div class="container">
    <div class="row">
        <div class="card text-center tabl_no_mg" id="redactor_generation">
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-6 tabl_no_mg">
            <p class="p_big">
                Select type of your Building Block
            </p>
        </div>
        <div class="col-2">

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-5"></div>
        <div class="col-7" id="generation_step_1_radios">
            {% for building_block in building_blocks %}
            <div class="p_small tabl tabl_gener_step">
                <input
                        type="radio"
                        id="{{ building_block.id }}"
                        name="radio_el"
                        value="{{ building_block.id }}"
                        class="posit_black posit checkbox"
                />
                <label for="{{ building_block.id }}" class="tab">{{ building_block.title }}</label>
                <br/>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container generation_step_2">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-6 tabl_no_mg">
            <p class="p_big">
                Select reagents
            </p>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-5">

        </div>
        <div class="col-7" id="generation_step_2_radios">
            {% for building_block in building_blocks %}
            <div class="generation_step_2_radios_{{ building_block.id }}">
                {% for reaction in building_block.reactions.all %}
                <div class="p_small tabl tabl_gener_step">
                    <input
                            type="checkbox"
                            name="step2_el"
                            id="{{ building_block.id }}_{{ reaction.reaction_file.id }}"
                            value="{{ reaction.id }}"
                            class="posit checkbox"/>
                    <label
                            for="{{ building_block.id }}_{{ reaction.reaction_file.id }}"
                            class="tab"
                    >{{ reaction.reaction_file.title }}</label>
                    <br/>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container generation_step_2_hide">
    <div class="row">
        <div class="butt_bott col-12 text-center">
            <div class="button_gener_step">
                <button class="generate disabled" id="generation_step_2_btn">generate</button>
            </div>
            <div class="error_block" style="display: none;">
                <span class="error_text"></span>
            </div>
        </div>
    </div>
</div>

<div class="container generation_step_3">
    <div class="row text-center">
        <div class="col-12">
            <div>
                <button class="blue_butt button_gener_step button_gener_step_save"
                        id="generation_step_3_btn"
                >save to my libraries</button>
            </div>
            <div class="butt_bott">
                <a id="result_link" href="#" class="p_big a_green">
                    Download result.SDF
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block extra_js %}
{% csrf_token %}
<script type="text/javascript">
function _prepare_to_reaction() {
    $('.generation_step_2_hide').show();
    $('.generation_step_2_hide').find('.error_block').hide();
    $('.generation_step_3').hide();
    $('#generation_step_3_btn').removeClass('disabled').addClass('blue_butt').text('save to my libraries');
}

function check_reaction_ready() {
    _prepare_to_reaction();

    var editor_smiles = jsmeApplet.smiles()
    if (editor_smiles && $('#generation_step_2_radios input[name="step2_el"]:checked').length > 0) {
            $('#generation_step_2_btn').removeClass('disabled').addClass('blue_butt')
    } else {
        $('#generation_step_2_btn').addClass('disabled').removeClass('blue_butt');
    }
}

function jsmeOnLoad() {
    jsmeApplet = new JSApplet.JSME('redactor_generation');
    document.JME = jsmeApplet;
    jsmeApplet.setAfterStructureModifiedCallback(check_reaction_ready);
}

$(function(){
    var csrf_token = $("[name=csrfmiddlewaretoken]").val();

    function get_checked_reactions() {
        var reactions_ids = [];
        $('input[name=step2_el]:checked').each(function(){
            reactions_ids.push($(this).val())
        });

        return reactions_ids;
    }

    // change generator state
    $('#generation_step_1_radios input[name="radio_el"]').on('change', function() {
        $('.generation_step_2').show();
        $('#generation_step_2_radios > div').hide();
        var val = $('#generation_step_1_radios input[name="radio_el"]:checked').val();
        $('#generation_step_2_radios > .generation_step_2_radios_' + val).show();
        $('#generation_step_2_radios input:checked').click();
        $('#generation_step_2_btn').addClass('disabled').removeClass('blue_butt');

        _prepare_to_reaction()
    });

    $('input[name="step2_el"]').on('change', function(e) {
        check_reaction_ready();
    });

    // make reaction
    $('#generation_step_2_btn').click(function(){
        var editor_smiles = document.JME.smiles();
        var reactions_ids = get_checked_reactions();
        var step2_container = $(this).closest('.generation_step_2_hide');

        $.ajax({
            method: 'POST',
            url: '/make_reaction/',
            data: {
                csrfmiddlewaretoken: csrf_token,
                editor_smiles: editor_smiles,
                reactions_ids: reactions_ids
            },
            success: function(data) {
                if (data.success) {
                    $('#result_link').attr('href', data.file_url);

                    $('.generation_step_2_hide').hide();
                    $('.generation_step_3').show()
                }
            },
            error: function(data) {
                step2_container.find('.error_block').show()
                    .find('.error_text').text(data.responseText)
            }
        })
    });

    // save to my libraries
    $('#generation_step_3_btn').on('click', function(e) {
        e.preventDefault();
        var result_url = $('#result_link').attr('href');
        var save_button = $(this);

        $.ajax({
            method: 'POST',
            url: '/bookmarks/add-generator-result-to-bookmarks/',
            data: {
                csrfmiddlewaretoken: csrf_token,
                result_url: result_url
            },
            success: function() {
                save_button.addClass('disabled').removeClass('blue_butt').text('saved')
            },
            error: function() {
                alert("Can't save to bookmarks, please try later")
            }
        });
    });
});
</script>
{% endblock %}